table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    overflow-y: scroll;
    table-layout: fixed;
    width: 100%;
    /**/
}

table td{
    width: 25%;
    padding: 1px 1px 1px 1px ;
    border: 1px solid #ddd;
    text-align: left;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

