table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: larger;
    border-collapse: collapse;
    overflow-y: scroll;
    /**/
}

table td{
    width: 305px;
    padding: 1px 1px 1px 1px ;
    border: 1px solid #ddd;
    text-align: left;
}

table tr:nth-child(odd){
    background-color: #f2f2f2;
}
table tr:nth-child(even){}

